@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: "Outfit", sans-serif;
}

html,body{
    height:100%;
    width:100%;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;

}
.container{
    padding-left: 2%;
    padding-right: 5%;
}
.btn{
    background-color: #fff;
    color: #212121;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    



}
.btn img{
    
    width: 20px;

    margin-left: 5px;
  


}
.btn.dark-btn{
    background:  #212EA0;
    color: #fff;

}

              